{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block content %}
<h1>Choose a survey to fill out!</h1>
<form action="/survey-choice" method="POST">
    <label for="survey">Choose a survey:</label>
    <select name="survey">
        {% for survey in incomplete %}
        <option value="{{ survey.ident }}">{{ survey.title }}</option>
        {% endfor %}
    </select>
    <button>Go!</button>
</form>
<h2>Completed surveys:</h2>
<ul>
    {% for survey in completed %}
    <li>{{ survey }}</li>
    {% endfor %}
</ul>
{% endblock %}