{% extends 'base.html' %}
{% block title %}Question{% endblock %}

{% block content %}
<h1>Question {{ question_num }}</h1>
{% for msg in get_flashed_messages() %}
<p id="invalid-msg">{{ msg }}</p>
{% endfor %}
<p>{{ question }}</p>
<form action="/answer" method="POST">
    {% for choice in choices %}
    <input type="radio" name="choice" value="{{ choice }}">
    <label for="{{ choice }}">{{ choice }}</label><br>
    {% endfor %}
    <p>
        <button>Submit</button>
    </p>
</form>
{% endblock %}